:root {
    ---background-transparent-8: rgba(255, 255, 255, 0.60);
    ---background-transparent-16: rgba(255, 255, 255, 0.60);
    ---background-transparent-24: rgba(255, 255, 255, 0.60);
    ---background-transparent-40: rgba(255, 255, 255, 0.60);
    --base-white: #FFFFFF;
    --base-black: #000000;
    --gray-50: #F9FAFB;
    --gray-100: #F2F4F7;
    --gray-500: #667085;
    --gray-600: #475467;
    --gray-700: #344054;
    --gray-800: #1D2939;
    --gray-900: #101828;
    --primary-25: #F5F8FF;
    --primary-50: #EFF4FF;
    --primary-100: #D1E0FF;
    --primary-600: #155EEF;
    --primary-700: #004EEB;
    --primary-800: #0040C1;
    --primary-900: #00359E;
    --error-25: #FFFBFA;
    --error-50: #FEF3F2;
    --error-100: #FEE4E2;
    --error-200: #FECDCA;
    --error-600: #D92D20;
    --error-700: #B42318;
    --error-800: #912018;
    --error-900: #7A271A;
    --warning-25: #FFFCF5;
    --warning-50: #FFFAEB;
    --warning-100: #FEF0C7;
    --warning-700: #B54708;
    --warning-800: #93370D;
    --warning-900: #7A2E0E;
    --success-25: #F6FEF9;
    --success-50: #ECFDF3;
    --success-100: #D1FADF;
    --success-700: #027A48;
    --success-800: #05603A;
    --success-900: #054F31;
    --gray-blue-25: #FCFCFD;
    --gray-blue-50: #F8F9FC;
    --gray-blue-100: #EAECF5;
    --gray-blue-500: #4E5BA6;
    --gray-blue-600: #3E4784;
    --gray-blue-700: #363F72;
    --gray-blue-800: #293056;
    --gray-blue-900: #101323;
    --gray-cool-25: #FCFCFD;
    --gray-cool-50: #F9F9FB;
    --gray-cool-100: #EFF1F5;
    --gray-cool-500: #5D6B98;
    --gray-cool-600: #4A5578;
    --gray-cool-700: #404968;
    --gray-cool-800: #30374F;
    --gray-cool-900: #111322;
    --gray-modern-25: #FCFCFD;
    --gray-modern-50: #F8FAFC;
    --gray-modern-500: #697586;
    --gray-modern-600: #4B5565;
    --gray-modern-700: #364152;
    --gray-modern-800: #202939;
    --gray-modern-900: #121926;
    --gray-neutral-25: #FCFCFD;
    --gray-neutral-50: #F9FAFB;
    --gray-neutral-300: #D2D6DB;
    --gray-neutral-400: #9DA4AE;
    --gray-neutral-500: #6C737F;
    --gray-neutral-600: #4D5761;
    --gray-neutral-700: #384250;
    --gray-neutral-800: #1F2A37;
    --gray-neutral-900: #111927;
    --gray-iron-25: #FCFCFC;
    --gray-iron-50: #FAFAFA;
    --gray-iron-500: #70707B;
    --gray-iron-600: #51525C;
    --gray-iron-700: #3F3F46;
    --gray-iron-800: #26272B;
    --gray-iron-900: #18181B;
    --gray-true-25: #FCFCFC;
    --gray-true-50: #FAFAFA;
    --gray-true-500: #737373;
    --gray-true-600: #525252;
    --gray-true-700: #424242;
    --gray-true-800: #292929;
    --gray-true-900: #141414;
    --gray-warm-25: #FDFDFC;
    --gray-warm-50: #FAFAF9;
    --gray-warm-500: #79716B;
    --gray-warm-600: #57534E;
    --gray-warm-700: #44403C;
    --gray-warm-800: #292524;
    --gray-warm-900: #1C1917;
    --moss-25: #FAFDF7;
    --moss-50: #F5FBEE;
    --moss-100: #E6F4D7;
    --moss-200: #CEEAB0;
    --moss-600: #4F7A21;
    --moss-700: #3F621A;
    --moss-800: #335015;
    --moss-900: #2B4212;
    --green-light-25: #FAFEF5;
    --green-light-50: #F3FEE7;
    --green-light-100: #E3FBCC;
    --green-light-700: #3B7C0F;
    --green-light-800: #326212;
    --green-light-900: #2B5314;
    --green-25: #F6FEF9;
    --green-50: #EDFCF2;
    --green-100: #D3F8DF;
    --green-700: #087443;
    --green-800: #095C37;
    --green-900: #084C2E;
    --teal-25: #F6FEFC;
    --teal-50: #F0FDF9;
    --teal-100: #CCFBEF;
    --teal-700: #107569;
    --teal-800: #125D56;
    --teal-900: #134E48;
    --cyan-25: #F5FEFF;
    --cyan-50: #ECFDFF;
    --cyan-100: #CFF9FE;
    --cyan-700: #0E7090;
    --cyan-800: #155B75;
    --cyan-900: #164C63;
    --blue-light-25: #F5FBFF;
    --blue-light-50: #F0F9FF;
    --blue-light-100: #E0F2FE;
    --blue-light-700: #026AA2;
    --blue-light-800: #065986;
    --blue-light-900: #0B4A6F;
    --blue-25: #F5FAFF;
    --blue-50: #EFF8FF;
    --blue-100: #D1E9FF;
    --blue-600: #1570EF;
    --blue-700: #175CD3;
    --blue-800: #1849A9;
    --blue-900: #194185;
    --blue-dark-25: #F5F8FF;
    --blue-dark-50: #EFF4FF;
    --blue-dark-100: #D1E0FF;
    --blue-dark-600: #155EEF;
    --blue-dark-700: #004EEB;
    --blue-dark-800: #0040C1;
    --blue-dark-900: #00359E;
    --indigo-25: #F5F8FF;
    --indigo-50: #EEF4FF;
    --indigo-100: #E0EAFF;
    --indigo-200: #C7D7FE;
    --indigo-600: #444CE7;
    --indigo-700: #3538CD;
    --indigo-800: #2D31A6;
    --indigo-900: #2D3282;
    --violet-25: #FBFAFF;
    --violet-50: #F5F3FF;
    --violet-100: #ECE9FE;
    --violet-200: #DDD6FE;
    --violet-600: #7839EE;
    --violet-700: #6927DA;
    --violet-800: #5720B7;
    --violet-900: #491C96;
    --purple-25: #FAFAFF;
    --purple-50: #F4F3FF;
    --purple-100: #EBE9FE;
    --purple-200: #D9D6FE;
    --purple-500: #7A5AF8;
    --purple-600: #6938EF;
    --purple-700: #5925DC;
    --purple-800: #4A1FB8;
    --purple-900: #3E1C96;
    --fuchsia-25: #FEFAFF;
    --fuchsia-50: #FDF4FF;
    --fuchsia-100: #FBE8FF;
    --fuchsia-200: #F6D0FE;
    --fuchsia-600: #BA24D5;
    --fuchsia-700: #9F1AB1;
    --fuchsia-800: #821890;
    --fuchsia-900: #6F1877;
    --pink-25: #FEF6FB;
    --pink-50: #FDF2FA;
    --pink-100: #FCE7F6;
    --pink-700: #C11574;
    --pink-800: #9E165F;
    --pink-900: #851651;
    --rose-25: #FFF5F6;
    --rose-50: #FFF1F3;
    --rose-100: #FFE4E8;
    --rose-600: #E31B54;
    --rose-700: #C01048;
    --rose-800: #A11043;
    --rose-900: #89123E;
    --orange-dark-25: #FFF9F5;
    --orange-dark-50: #FFF4ED;
    --orange-dark-100: #FFE6D5;
    --orange-dark-600: #E62E05;
    --orange-dark-700: #BC1B06;
    --orange-dark-800: #97180C;
    --orange-dark-900: #771A0D;
    --orange-25: #FEFAF5;
    --orange-50: #FEF6EE;
    --orange-100: #FDEAD7;
    --orange-700: #B93815;
    --orange-800: #932F19;
    --orange-900: #772917;
    --yellow-25: #FEFDF0;
    --yellow-50: #FEFBE8;
    --yellow-100: #FEF7C3;
    --yellow-700: #A15C07;
    --yellow-800: #854A0E;
    --yellow-900: #713B12;
}

.dark {}
