.altbox{
    margin: 2rem;
    text-align: left;
}

.redbox{
   display: flex;
   gap: 1rem;
   border: 1px solid black;
   margin-left: 5rem;
   margin-top: 1rem;
   width: 35rem;
   padding: 0.4rem;
   border-radius: 5px;

}
.redbox:hover {
    border: 1px solid blue;
}
.maindiv{
    display: flex;
    flex-direction: column;
    gap: 2rem;
}
.bbtn{
    width: 8rem;
    text-align: center;
    margin-left: 5rem;
}